#hacemos .items {
    display:block;
    padding: 1rem

}

#hacemos .items .item {
    display: flex;
    text-align:left
   
}



#hacemos .items .item  i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom:0;
}

@media(min-width:501px){
.lead {

    font-size:2rem;
  
 

}
}
/*Smartphones*/

@media(max-width:500px){
#navbar{
    
    flex-direction: column;
    align-items:center;
}

#navbar .logo{
    margin-bottom:0.5rem;
    text-align:center;

}

.l-heading {
    font-size: 3rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;


}

#navbar ul {
    padding: 0.5rem;
}

#img_principal .img_contenido{

    top:200px;
  
    margin-top:-4rem;
}



.lead {

    font-size: 1.3rem;
    margin-bottom: 2rem;
    width:90%;

}

/* #img_principal {
 
    height: 92vh;


} */

#quienes {
    display:block;

}

#quienes .quienes-img {
    display: none;
}


#clientes .items img {

    width: 80%;
}

#clientes .items div:last-child {
    display: none;
}


#contacto {

    flex-direction: column;

}

#contacto #mapa {
    border-top: 4px solid #333;
    height:200px;
}

#home{
    width:100vw;
}

}

@media (max-height:568px) {


.l-heading {
    font-size: 2rem;
 
}

.lead {
    font-size:1rem;
}

#img_principal .img_contenido{


    margin-top:-4rem;
}



/*landscape*/
@media(max-height:500px){
    #navbar{
        flex-direction: column;
        align-items:center;
        width:100%;
    }
    
    #navbar .logo{
        margin-bottom:0.5rem;
        text-align:left;
    
    }
    
    #navbar ul {
        padding: 0.5rem;
        flex-direction:column;
    }
    
    p{

        margin: 0.45rem 0;
    
    }

}

}