@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{

    box-sizing: border-box;
    margin:0;
    padding:0;
}


body {

font-family: 'Roboto', sans-serif;
line-height: 1.4;

}

a {

    text-decoration: none;


}

p{

    margin: 0.75rem 0;

}
/* Clases utilitarias*/
.container {

    max-width: 1100px;
    margin:auto;
    padding:0 2rem;
    overflow: hidden;


}
.span-color{
    color:#C1554F

}

.text-primary{
    
    color:#C2554F;

}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;

}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;


}

.lead {

        font-size: 1.3rem;
        margin-bottom: 2rem;
        width:60%;

}

.btn:hover{
    background:rgb(121, 52, 48);

}
.btn {
    display: inline-block;
    color: #fff;
    background:#C2554F;
    padding: 0.5rem 2rem;
    border-radius:5px;

}

.btnForm {
    display: inline-block;
    color: #fff;
    background: #2B2F40;;
    border: none;
    padding: 0.5rem 2rem;
    border-radius:5px;

}

.lista{
    margin: 0.5rem 0;
    list-style: none;

}

.lista li {
    padding:0.5rem 0;
    border-bottom: #444 dotted 1px;
}
.texto-centro{
    text-align:center;

}


.py-1 {padding: 1.5rem 0;}

.py-2 {padding: 2rem 0;}

.py-3 {padding: 3rem 0;}


.p-1 {padding: 1.5rem;}

.p-2 {padding: 2rem ;}

.p-3 {padding: 3rem 0;}

.bg-dark {
    background: #2B2F40;
    color:#fff;
    border-color:  #2B2F40;;
}


.bg-primary {
    background: #C2554F;
    color: #fff;

} 
/*navbar*/

#navbar{
    display: flex;
    position:sticky;
    top:0;
    background:#fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
    box-shadow: 0 2px 3px -2px rgba(0,0,0,.4);

}

#navbar ul {
    display:flex;
    align-items: center;
    list-style: none;


}

#navbar ul li a {

    color:#000000;
    padding: 0.75rem;
    margin: 0 0.25rem;
    display: inline-block;

}

#navbar ul li a:hover {
    background:#fff;

    border: none;

}

.menu-link::after{
    content: '';
    display:block;
    width:0;
    height:2px;
    background:#C2554F;
    transition: width .3s


}

.menu-link:hover::after {
    width: 100%;
    transition: width .3s;
   
    
}


/*img principla*/

#img_principal {
    background: url('../img/2.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;

}


#img_principal .img_contenido {
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    padding: 0 2rem;
    /*overlay*/
    position:absolute;
    top: 79px;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.4);

}

/*Seccion nos dedicamos*/
#hacemos .items {

    display: flex;
    padding: 1rem;

}

#hacemos .item {
    flex:1;
    text-align:center;
    padding:1rem;

}

#hacemos .items .item i {

    background:#C2554F;
    padding: 1rem;
    border-radius:50%;
    margin-bottom:1rem;


}

/* Sección quienes somos*/

#quienes{
    display:flex;

}

#quienes div {
    flex:1;
}

#quienes .quienes-img {

    background: url('../img/people.jpg') no-repeat center/cover;

        
}

/*Clientes*/

#clientes .items {
    display:flex;
}

#clientes .items img {
    display:block;
    margin:auto;
    width: 60%;
}

/*Sección contacto*/

#contacto {

    display:flex;
}
#contacto #mapa ,  #contacto .contacto-form{
    flex:1;

}

#contacto .contacto-form .form-group {
    margin: 0.75rem;

}

#contacto .contacto-form label {
    display:block;
}

#contacto .contacto-form  input , #contacto .contacto-form textarea{
    width:100%;
    padding: 0.5rem;

}


#contacto #mapa  iframe {

    width:100%;
    height:100%;


    

}
