#hacemos .items .item {
    display: flex;
    text-align:left;
   
}



#hacemos .items .item  i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom:0;
}

#contacto #mapa{
    flex:2;

 
}


